.info-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 6px;
    border-radius: 15px;
    background: var(--bg-color-15);
    box-shadow: 0px 0px 10px #00000018;
    z-index: 300;
}
.info-menu::after {
    position: absolute;
    content: "";
}
.info-menu.top {
    animation: modal-menu-top .2s ease forwards;
}
.info-menu.top::after {
    top: -9px;
    left: 14px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--bg-color-15);
}
.info-menu.bottom {
    animation: modal-menu-bottom .2s ease forwards;
}
.info-menu.bottom::after {
    top: calc(100%);
    left: 14px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--bg-color-15);
}
.info-menu.remove-top {
    animation: modal-menu-remove-top .2s ease forwards;
}
.info-menu.remove-bottom {
    animation: modal-menu-remove-bottom .2s ease forwards;
}
.info-menu__button {
    position: relative;
    padding: 5px 8px 5px 30px;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-family: "Sourse Sans Pro", sans-serif;
    font-weight: 600;
    text-align: left;
    color: var(--text-color-1);
    background: none;
    transition: .2s ease;
}
.info-menu__button::after {
    position: absolute;
    content: "";
    left: 8px;
    top: 8px;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
}
.info-menu__button#info-del-button::after {
    background-image: var(--delete-icon-path);
    width: 16px;
    height: 16px;
}
.info-menu__button#info-search-button::after {
    background-image: var(--search-icon-path);
}
.info-menu__button:hover,
.info-menu__button:focus {
    cursor: pointer;
    background: var(--bg-color-14);
}