@import "./global.css";
@import "./page-blur.css";
@import "./info-menu.css";
@import "./animations.css";

body {
    min-height: 100vh;
    margin: 0;
    background: var(--bg-color-2);
    overflow-x: hidden;
}
#app {
    display: grid;
    grid-template-rows: 1fr min-content;
    justify-items: center;
}
a, button {
    display: block;
    outline: #00000000 solid;
}
a:focus-visible,
button:focus-visible {
    outline: var(--bg-color-16) solid;
}
.level2-menu__content h2 {
    margin: 8px 0;
    font-size: 22px;
    color: var(--text-color-1);
}
.level2-menu__content li {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color-1);
}
.level2-menu__content ul {
    margin: 5px 0;
}
.level2-menu__content a.inline {
    display: inline;
    color: var(--text-color-1);
    text-decoration-color: var(--text-decoration-color-1);
    transition: .2s ease;
}
.level2-menu__content a.inline:hover,
.level2-menu__content a.inline:focus-visible {
    background: var(--bg-color-12);
    text-decoration-color: var(--text-decoration-color-2);
}
.search-towns button b {
    font-weight: 700;
}